.card {
  .title {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: .5rem;
  }
  .subtitle {
    font-size: 1rem;
    padding: .3rem 0;
  }
}

.card-footer {
  display: block;
  padding-top: 1rem;

  a.button {
    margin: 0 .5rem;

    span.icon {
      margin-right: 4px;
    }
  }
}

.assignment {
  margin-bottom: .5rem;
}
